<h1>Add new book</h1>
<%= form_tag :action => 'create' %>
<p><%= label_tag :title ,'Title' %>
	<%=text_field 'book','title' %>
</p>
<p>
	<%= label_tag :price , 'Price' %>
	<%= text_field 'book','price' %>
</p>
<p>
	<%= label_tag :subject, 'Subject' %>
	<%= collection_select(:book,:subject_id,@subjects,:id,:name) %>
</p>
<p>
	<%=label_tag :description, 'Description' %></br>
	<%= text_area 'book', :description %>
</p>
<%= submit_tag "Create" %>
<%= link_to 'Back', {:action =>'index'} %>